// color variables below
$white: #fff;
$off-white: #FCFBFE;
$black: #313131;
$blue: #3861FC;

// font settings below 
h2{
    font-family: futura-pt-bold, sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: $black;
}

h3{
    font-family: futura-pt-bold, sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: $blue;
}

h4{
    font-family: futura-pt-bold, sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: $black;
}

h5{
    font-family: futura-pt, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: $black;
}

p{
    font-family: futura-pt, sans-serif;
    font-weight: 300;
    font-size: 16px; 
    color: $black;
}

#homeBtn{
    display: flex;
    margin: 0 auto;
    border: none;
    padding: 10px 80px;
    background-color: $blue;
    font-family: futura-pt, sans-serif;
    font-weight: 300;
    font-size: 16px; 
    color: $off-white;
    
}
// general container customizations below

body{
    margin: 0 auto;
    background-color: $off-white;
    max-width: 100vw;
}

main{
    // height: 70vh;
    padding: 30px 30px 30px 30px;
    margin-bottom: 40px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 30px;
    padding: 30px;
    background-color: $white;
    box-shadow: 0 4px 20px #f8f8f841;
    img:hover{
        cursor: pointer;
    }
}

footer{
    text-align: center;
    padding: 40px;
    background-color: $white;
    box-shadow: 0 -4px 20px #f8f8f841;
}

.hidden{
    display: none;
}

.webOnly{
    display: none;
}

// custom components below 
#landing{
    h2{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    p{
        margin-bottom: 20px;
    }
}

table{
    width: 100%;
    margin-bottom: 40px;
    text-align: left;
    padding: 25px;
    thead{
        font-family: futura-pt-bold, sans-serif;
        font-weight: 700;
        font-size: 16px; 
        color: $blue;
        th{
            padding-top: 20px;
            padding-bottom: 20px;
            &:first-child{
                padding-left: 15px;
            }
        }
    }
    tbody{
        td{
            padding-top: 20px;
            padding-bottom: 20px;
            vertical-align: middle;
        }
        td:first-child{
            padding-left: 30px;
    
        }
    }
}

#table{
    background-color: $white;
    // max-width: 1120px;
    margin: 0 auto;
    box-shadow: 0px 0px 20px #cecece3f;

}
.listItem{
    text-align: left;
    font-family: futura-pt, sans-serif;
    font-weight: 200;
    font-size: 16px; 
    height: 60px;
    &:nth-child(odd){
        background-color: #FCFBFE;
    }
    &:hover{
        background-color: #3862fc0d;
    }
    img{
        padding-right: 15px;
    }
    .coinHover:hover{
        color: $blue;
        transition: .3s ease-in-out;
    }
    
   
}



.coinLogo{
    width: 25px;
    height: 25px;
}

a{
    text-decoration: none;
    color: inherit;
}

// below is the coin expanded view

#coinHead{
    display: flex;
    flex-direction: row; 
    align-items: center;
    margin-top: 20px;
    img{
        padding-right: 20px;
        height: auto;
        width: 50px;
        height: 50px;
    }
}

#coinPrice{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-top: 30px;
    margin-bottom: 30px;
}

#currentPrice{
    margin-right: 20px;
}



#coinInfo{
    margin-bottom: 40px;
    margin: 0 auto;
    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        li{
            width: 300px;
            margin: 20px;

            h3, h4{
                margin-bottom: 15px;
            }
        }
    }
}

.coinInfoCon{
    padding: 30px;
    background-color: $white;
    box-shadow: 0px 0px 20px #cecece3f;
    margin-bottom: 30px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#coinDescription{
    line-height: 24px;
    padding: 30px;
}

@media screen and (min-width: 760px) {
    #coinHead{
        h2{
            font-size: 36px !important;
        }
    }
    .listItem{
        font-size: 18px;
    }
    .webOnly{
        display: contents;
    }
}

@media screen and (min-width: 980px) {
    #coinInfo{
        margin-bottom: 40px;
        margin: 0 auto;
        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            li{
                width: 300px;
                margin: 30px;
                h3, h4{
                    margin-bottom: 15px;
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    
    main{
        max-width: 1400px;
        margin: 0 auto;
    }
    #coinHead{
        h2{
            font-size: 42px !important;
        }
    }
    .listItem{
        font-size: 20px;
    }

    #coinInfo{
        ul{
            li{
                width: 300px;
                margin: 10px;
            }
        }
    }
}