// color variables below
$white: #fff;
$off-white: #FCFBFE;
$black: #313131;
$blue: #3861FC;

// font settings below 
h2{
    font-family: futura-pt-bold, sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: $black;
}

p{
    font-family: futura-pt, sans-serif;
    font-weight: 300;
    font-size: 16px; 
    color: $black;
}
// general container customizations below

body{
    background-color: $off-white;
}

main{
    // height: 70vh;
    padding: 30px;
    margin-bottom: 40px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 30px;
    padding: 30px;
    background-color: $white;
    box-shadow: 0 4px 20px #f8f8f841;
    img:hover{
        cursor: pointer;
    }
}

footer{
    text-align: center;
    padding: 30px;
    background-color: $white;
    box-shadow: 0 -4px 20px #f8f8f841;
}

.hidden{
    display: none;
}

// custom components below 

table{
    width: 100%;
    margin-bottom: 40px;
    text-align: left;
    padding: 25px;
    thead{
        font-family: futura-pt, sans-serif;
        font-weight: 200;
        font-size: 16px; 
        color: $blue;
        padding: 20px !important;
        
    }
}

#table{
    background-color: $white;
    // max-width: 1120px;
    margin: 0 auto;
    box-shadow: 0px 0px 20px #cecece3f;

}
.listItem{
    padding: 25px;
    margin-bottom: 25px !important;
    text-align: left;
    font-family: futura-pt, sans-serif;
    font-weight: 200;
    font-size: 16px; 
    padding: 25px !important;
    height: 60px;
   
    img{
        padding-right: 15px;
    }
    .coinHover:hover{
        color: $blue;
        transition: .3s ease-in-out;
    }
    td:first-child{
        padding-left: 20px;

    }
    &:nth-child(odd){
        background-color: #FCFBFE;
    }
}



.coinLogo{
    width: 25px;
    height: 25px;
}

a{
    text-decoration: none;
    color: inherit;
}

// below is the coin expanded view

#coinHead{
    display: flex;
    flex-direction: row; 
    align-items: center;
    img{
        padding-right: 20px;
        height: auto;
        width: 50px;
        height: 50px;
    }
}


@media screen and (min-width: 760px) {
    #coinHead{
        h2{
            font-size: 36px !important;
        }
    }
    .listItem{
        font-size: 18px;
    }
}

@media screen and (min-width: 1200px) {
    main{
        max-width: 1400px;
        margin: 0 auto;
    }
    #coinHead{
        h2{
            font-size: 42px !important;
        }
    }
    .listItem{
        font-size: 20px;
    }
}